body{
  background-color: rgb(151, 169, 228);

}
button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
